<div class="col-lg-12"></div>
<div class="card">
    <div class="card">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Configuration</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profils Calendaires </li>
            </ol>
          </nav>
             
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-overview" routerLink="/admin/profilscalendaires">Profils Calendaire</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit" routerLink="/admin/addprofilcalendaire">Ajouter Profil Calendaire</button>
                </li>
              </ul>
              <hr>
              </div>
              </div>
              
            
          
<div class="card">
<div class="card-body">
                        
          
                        <!-- General Form Elements -->
                        <form>
                          <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Designation:</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          
          
                          <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">Début:</label>
                            <div class="col-sm-10">
                              <input type="time" class="form-control">
                            </div>
                          </div>
          
                          <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">Fin:</label>
                            <div class="col-sm-10">
                              <input type="time" class="form-control">
                            </div>
                          </div>
          
                          <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">Horaire théorique:</label>
                            <div class="col-sm-10">
                              <input type="time" class="form-control">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">Ecrétée a partir de :</label>
                            <div class="col-sm-10">
                              <input type="time" class="form-control">
                            </div>
                          </div>
          
                          
                          <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Notes:</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" style="height: 100px"></textarea>
                            </div>
                          </div>
                         
                            <hr>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Mes Horaires specifiques</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Mes Pauses</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Mes compteurs</button>
                                </li>
                              </ul>
                              <div class="tab-content pt-2" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                                                             <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th></th>
                    <th scope="col">Designation</th>
                    <th scope="col">Type</th>
                    <th scope="col">Temps</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <th> <a href="addsession" class="#addsession"><i class="bi bi-pen"></i></a>&nbsp;
                      <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a>&nbsp;</th>
                    <td>Dejeuner</td>
                    <td>Pause dejeuner</td>
                    <td>28</td>
                    
                  </tr>
                 
                  
                </tbody>
               
              </table>
              
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
             
                                </div>
                              </div>
                              <hr>
                          <div class="row mb-3">
                            
                            <div class="col-sm-10">
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scrollingModal">
                                Ajouter Pointeuse
                              </button>
                              <div class="modal fade" id="scrollingModal" tabindex="-1">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Ajouter Pointeuse</h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="designation" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Designation</label>
                                      <div class="col-md-4 col-lg-5 col-form-label">
                                        <input name="designation" type="text" class="form-control" id="designation" value="">
                                      </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="port" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Port</label>
                                      <div class="col-md-4 col-lg-5 col-form-label">
                                        <input name="port" type="number" class="form-control" id="port" value="">
                                      </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="company" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Adresse IP</label>
                                      <div class="col-md-4 col-lg-5 col-form-label">
                                        <input name="company" type="text" class="form-control" id="username" value="">
                                      </div>
                                    </div>
                                    <div class="row mb-3">
                                      <label for="Email" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Departement</label>
                                      <div class="col-md-4 col-lg-5 col-form-label">
                                        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                          
                                          <option value="1">Secteur 1</option>
                                          <option value="2">Secteur 2</option>
                                          <option value="2">Secteur 3</option>
                                          <option value="2">Secteur 4</option>
                                         
                                        </select>
                                        
                                      </div>
                                      <div class="col-12">
                                        
                                      </div>
                                      
                                      
                                    </div>
                                
                                    <div class="row mb-3">
                                      <label for="Email" class="col-md-5 col-lg-5 col-form-label">&nbsp;&nbsp; Type</label>
                                      <div class="col-md-5 col-lg-5 col-form-label">
                                        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                          
                                          <option value="1">Badge Vertx</option>
                                          <option value="2">Empreinte</option>
                                         
                                        </select>
                                      </div>
                                      <div class="text-center" style="margin: 3%;">
                                        <button type="button" class="btn btn-success">Connecter</button>
                                        
                                      </div>
                                    
                                      <div class="text-center" style="margin: 4%;">
                                        
                                      </div>
                                      
                                     
                                      
                                    
                                    
                                 
                                      
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                      <button type="button" class="btn btn-primary">Enregistrer</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div><!-- End Scrolling Modal-->
                            </div>
                         
                          
                      </div>
                    
                
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                
              </div>
              <hr>
          <div class="row mb-3">
            
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" style="float: right;">Enregistrer</button>
            </div>
          </div>
          </form>
          </div>
          </div>
              
            
                  
                
          