<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="search">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

 <div class="container">
     <div class="row">
<div class="col-md-4">
<div class="card ">
    
              <br>
              <div id="chatbox">
                <div id="friendslist">
                    
                      <div id="friends">
                         
                        <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                         
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                           
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          
                      </div>                
                      
                  </div>  
                     
              </div> 
              </div>
              </div>
<div class="col-md-8">
<div>
    <i class="fas fa-file-pdf">Afficher le Planning</i>
</div>
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col"><i class="fas fa-plus"></i></th>
        <th scope="col">DIMANCHE</th>
        <th scope="col">LUNDI</th>
        <th scope="col">MARDI</th>
        <th scope="col">MERCREDI</th>
        <th scope="col">JEUDI</th>
        <th scope="col">VENDREDI</th>
        <th scope="col">SAMEDI</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td >Zkteco1</td>
        <td>Badge Vertx</td>
        <td>Zkteco1</td>
        <td >Zkteco1</td>
       <td >Zkteco1</td>
      <td >Zkteco1</td>
      <td >Zkteco1</td>
     <td >Zkteco1</td>

      </tr>

      <tr>
        <td >Zkteco1</td>
        <td>Badge Vertx</td>
        <td>Zkteco1</td>
        <td >Zkteco1</td>
       <td >Zkteco1</td>
      <td >Zkteco1</td>
      <td >Zkteco1</td>
     <td >Zkteco1</td>

      </tr>
      <tr>
        <td >Zkteco1</td>
        <td>Badge Vertx</td>
        <td>Zkteco1</td>
        <td >Zkteco1</td>
       <td >Zkteco1</td>
      <td >Zkteco1</td>
      <td >Zkteco1</td>
     <td >Zkteco1</td>

      </tr>
      <tr>
        <td >Zkteco1</td>
        <td>Badge Vertx</td>
        <td>Zkteco1</td>
        <td >Zkteco1</td>
       <td >Zkteco1</td>
      <td >Zkteco1</td>
      <td >Zkteco1</td>
     <td >Zkteco1</td>

      </tr>
    
     
      
    </tbody>
  </table>
</div> 
</div>            
</div> 
               
 
    
        
    
                   
                  
               
                  
               










      
          
