<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="rec">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

 <div class="container">
     <div class="row">
<div class="col-md-4">
<div class="card ">
    
              <br>
              <div id="chatbox">
                <div id="friendslist">
                    
                      <div id="friends">
                         
                        <div class="friend" *ngFor="let item of listeUser  ; let i = index" >
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/{{i+1}}_copy.jpg" />
                              <div class="text">
                                <strong>{{item.nom}}</strong>
                                <span>{{ item.dateInscrit |date:'shortDate'}}</span>
                                <p>{{item.proffession}}</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          
                         <!-- <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                         
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                           
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          <div class="friend">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                              <div class="text">
                                <strong>Miro Badev</strong>
                                <span>13/3/2022</span>
                                <p>Integrateur</p>

                              </div>
                              <div class="status available"></div>
                          </div>
                          -->
                          
                      </div>                
                      
                  </div>  
                     
              </div> 
              <br>
              </div>
              </div>
<div class="col-md-8" >

<div>
    <i class="fas fa-file-pdf">Afficher le Planning</i>
</div>
<div id="htmlData">
<table class="table table-success table-striped"  >
    <thead>
      <tr>
        <!-- 
          data-bs-toggle="tab" data-bs-target="#profile-edit"
        -->
        <th  scope="col"><i *ngIf= "isShown" class="bi bi-plus-lg nav-link"  routerLink="/admin/addusager"></i></th>
        <th scope="col">DIMANCHE</th>
        <th scope="col">LUNDI</th>
        <th scope="col">MARDI</th>
        <th scope="col">MERCREDI</th>
        <th scope="col">JEUDI</th>
        <th scope="col">VENDREDI</th>
        <th scope="col">SAMEDI</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td >Adam Bannour</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td> 
        <td> Sans Profile</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>

      </tr>

    <!-- <tr>
        <td >Adam Bannour</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td> Sans Profile</td>
        <td><p>10:00:00</p><p>18:00:00</p></td> 
        <td> Sans Profile</td>
        <td> Sans Profile</td>
        <td><p>11:00:00</p><p>19:00:00</p></td>
        <td> Sans Profile</td>
      </tr>
      <tr>
        <td >Adam Bannour</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td> 
        <td> Sans Profile</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>

      </tr>
      <tr>
        <td >Adam Bannour</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td> 
        <td> Sans Profile</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>

      </tr>
      <tr>
        <td >Adam Bannour</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td> 
        <td> Sans Profile</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>

      </tr>
      <tr>
        <td >Adam Bannour</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td> 
        <td> Sans Profile</td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>10:00:00</p><p>18:00:00</p></td>
        <td><p>11:00:00</p><p>19:00:00</p></td>

      </tr>
      --> 
    </tbody>
  </table>
</div>
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
  </div>
</div> 



</div>            
</div> 
               
 
    
        
    
                   
                  
               
                  
               










      
          
