<div class="col-lg-12"></div>
<div class="card">
    <div class="card">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Configuration</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profils Salaires </li>
            </ol>
          </nav>
             
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-overview" routerLink="/admin/profilssalaries">Profils Salaires</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit" routerLink="/admin/addprofilsalaries">Ajouter Profil Salaire</button>
                </li>
              </ul>
              <hr>
              
            
          
                    <div class="card">
                      <div class="card-body">
                        
          
                        <!-- General Form Elements -->
                        <form>
                          <div class="row mt-3 mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Designation:</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="designation">
                            </div>
                          </div>
                          
          
                          <div class="row mt-3 mb-3">Horaire definissant la nuit
                              <hr> 
                            <label for="inputTime" class="col-sm-2 col-form-label">Soir:</label>
                            <div class="col-sm-4">
                              <input type="time" class="form-control" id="time_soir">
                            </div>
                            <label for="inputTime" class="col-sm-2 col-form-label">Matin:</label>
                            <div class="col-sm-4">
                              <input type="time" class="form-control" id="time_matin">
                            </div>
                          </div>
          
                        
          
                         <div class="form-check">Annulation/Traitement RTT 
                              <hr>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value = "Payer_les_heures_supplémentaires"   >
                            <label class="form-check-label" for="flexRadioDefault" id="flexRadioDefault11" >
                             Payer les horaires supplementaires
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value ="Annualiser_les_heures"  >
                            <label class="form-check-label" for="flexRadioDefault1" id="flexRadioDefault22" >
                              Annuler les heures(ecart positifs ou negatifs)
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"  value ="R_T_T" checked >
                            <label class="form-check-label" for="flexRadioDefault"  id="flexRadioDefault33" >
                              R.T.T
                            </label>
                          </div>
                          <div class="row mb-3">
                            <div class="col-sm-4">
                              <input type="date" class="form-control" id="date">
                            </div>
                            <div class="col-sm-8">
                                 jour du mois qui definit le debut d'une annees
                              </div>
                          </div>
                         <span>Profil Calendaire par Defaut</span>
                         <hr>
                         <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">JOUR DE LA SEMAINE</th>
                              <th scope="col">
                                PROFILS CALENDAIRE UTILISES
                              </th>
                              <td></td>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngIf="dim">
                              <th scope="row">Dimanche</th>
                              <td>
                                <div class="col-md-4 col-lg-5 col-form-label">
                                  <select class="form-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option *ngFor="
                                        let item of ListProfilCalendaire;
                                        let i = index
                                      " value="{{ item.designation }}">
                                      {{ item.designation }}
                                    </option>
                                    <!-- <option value="1">Profil Calendaire</option>
                                  <option value="2">Profil1</option>
                                  <option value="2">Profil2</option>
                                  <option value="2">Profil3</option> -->
                                  </select>
                                </div>
                              </td>
                              <td><i class="bi bi-trash" (click)="dim=false"></i></td>
                            </tr>

                            <tr *ngIf="lun" class="table-primary">
                              <th scope="row">Lundi</th>
                              <td>
                                <div class="col-md-4 col-lg-5 col-form-label">
                                  <select class="form-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option *ngFor="
                                        let item of ListProfilCalendaire;
                                        let i = index
                                      " value="{{ item.designation }}">
                                      {{ item.designation }}
                                    </option>
                                    <!-- <option value="1">Profil Calendaire</option>
                                    <option value="2">Profil1</option>
                                    <option value="2">Profil2</option>
                                    <option value="2">Profil3</option> -->
                                  </select>
                                </div>
                              </td>
                              <td><i class="bi bi-trash" (click)="lun=false"></i></td>
                            </tr>



                            <tr *ngIf="mard" class="table-secondary">
                              <th scope="row">Mardi</th>
                              <td>
                                <div class="col-md-4 col-lg-5 col-form-label">
                                  <select class="form-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option *ngFor="
                                        let item of ListProfilCalendaire;
                                        let i = index
                                      " value="{{ item.designation }}">
                                      {{ item.designation }}
                                    </option>
                                    <!-- <option value="1">Profil Calendaire</option>
                                    <option value="2">Profil1</option>
                                    <option value="2">Profil2</option>
                                    <option value="2">Profil3</option> -->
                                  </select>
                                </div>
                              </td>
                              <td><i class="bi bi-trash" (click)="mard=false" ></i></td>
                            </tr>



                            <tr *ngIf="merc" class="table-primary">
                              <th scope="row">Mercredi</th>
                              <td>
                                <div class="col-md-4 col-lg-5 col-form-label">
                                  <select class="form-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option *ngFor="
                                        let item of ListProfilCalendaire;
                                        let i = index
                                      " value="{{ item.designation }}">
                                      {{ item.designation }}
                                    </option>
                                    <!-- <option value="1">Profil Calendaire</option>
                                    <option value="2">Profil1</option>
                                    <option value="2">Profil2</option>
                                    <option value="2">Profil3</option> -->
                                  </select>
                                </div>
                              </td>
                              <td><i class="bi bi-trash" (click)="merc=false"></i></td>
                            </tr>


                          <tr *ngIf="jeud" class="table-secondary">
                              <th scope="row">Jeudi</th>
                              <td>
                                <div class="col-md-4 col-lg-5 col-form-label">
                                  <select class="form-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option *ngFor="
                                        let item of ListProfilCalendaire;
                                        let i = index
                                      " value="{{ item.designation }}">
                                      {{ item.designation }}
                                    </option>
                                    <!-- <option value="1">Profil Calendaire</option>
                                    <option value="2">Profil1</option>
                                    <option value="2">Profil2</option>
                                    <option value="2">Profil3</option> -->
                                  </select>
                                </div>
                              </td>
                              <td><i class="bi bi-trash" (click)="jeud=false"></i></td>
                            </tr>




                          <tr *ngIf="vend" class="table-primary">
                              <th scope="row">Vendredi</th>
                              <td>
                                <div class="col-md-4 col-lg-5 col-form-label">
                                  <select class="form-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option *ngFor="
                                        let item of ListProfilCalendaire;
                                        let i = index
                                      " value="{{ item.designation }}">
                                      {{ item.designation }}
                                    </option>
                                    <!-- <option value="1">Profil Calendaire</option>
                                    <option value="2">Profil1</option>
                                    <option value="2">Profil2</option>
                                    <option value="2">Profil3</option> -->
                                  </select>
                                </div>
                              </td>
                              <td><i class="bi bi-trash" (click)="vend=false"></i></td>
                            </tr>
                          <tr *ngIf="samd">
                              <th scope="row">Samedi</th>
                              <td>
                                <div class="col-md-4 col-lg-5 col-form-label">
                                  <select class="form-select" id="inputGroupSelect04"
                                    aria-label="Example select with button addon">
                                    <option *ngFor="
                                        let item of ListProfilCalendaire;
                                        let i = index
                                      " value="{{ item.designation }}">
                                      {{ item.designation }}
                                    </option>
                                    <!-- <option value="1">Profil Calendaire</option>
                                    <option value="2">Profil1</option>
                                    <option value="2">Profil2</option>
                                    <option value="2">Profil3</option> -->
                                  </select>
                                </div>
                              </td>
                              <td><i class="bi bi-trash" (click)="samd=false"></i></td>




                            </tr>
                            
                          </tbody>
                        </table> 



                          <div >

                          
                            <button type="submit" (click)="AddProfilSalarie()" class="btn btn-primary" style="float: right;" >Enregistrer</button>
                          </div>    
                          </form>                  
          
     
            
                  
                
          