 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/admin/img/img1.png" alt="">
        <span class="d-none d-lg-block">BIOTIME</span>
      </a>
    
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="recherche" title="Enter search keyword">
        <button type="submit" title="recherche"><i class="bi bi-recherche"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-recherche"></i>
          </a>
        </li><!-- End Search Icon-->

        

          

        


        

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Z. Mourad</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Zarai Mourad</h6>
              <span>Désagneur web</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/addsession">
                <i class="bi bi-person"></i>
                <span>Mon Profil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>aidez moi?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Déconnecter</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        <!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Accueil</li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/dashboard">
          <i class="bi bi-grid"></i>
          <span>Tableau de bord</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
      <!-- Gestion Utilisateurs Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/gestionusers">
          <i class="bi bi-person"></i>
          <span>Gestion Utilisateurs</span>
        </a>
        
      </li><!-- End Tables Nav -->
      <!-- End Gestion Utilisateurs Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/gestiondepartements">
          <i class="bi bi-person"></i>
          <span>Gestion Compagnies</span>
          
        </a>
        
      </li><!-- End Gestion Departements Page Nav -->
      
      <li class="nav-heading">Configuration</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/handkeys">
          <i class="bi bi-calculator"></i>
          <span>Pointeuses</span>
        </a>
        
        
        
      </li><!-- End handkeys Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/profilscalendaires">
          <i class="bi bi-calendar-plus"></i>
          <span>Profils Calendaires</span>
        </a>
      </li><!-- End Profils Calendiaires Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/profilssalaries">
          <i class="bi bi-calendar-month-fill"></i>
          <span>Profils Salariés</span>
        </a>
      </li><!-- End Profils Salariés Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/typeabsence">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Types Absence</span>
        </a>
      </li><!-- End Type Absence Page Nav -->
      
      <li class="nav-heading">Gestion Usagers</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/usagers">
            <i class="bi bi-person"></i>
          <span>Usagers</span>
        </a>
      </li><!-- End Gestion Usagers Page Nav -->

      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
     

        
    </div><!-- End Page Title -->
<router-outlet></router-outlet>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>BioTime 2022</span></strong>. 
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
     
    </div>
  </footer><!-- End Footer -->

  