<section class="section">
    <div class="row">
      <div class="col-lg-12">
<div class="card">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Configuration</a></li>
              <li class="breadcrumb-item active" aria-current="page">Type d'absences </li>
            </ol>
          </nav>
             
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" routerLink="/admin/typeabsence">Type d'absences</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-absence" routerLink="/admin/addabsense">Ajouter un Type d'Absence</button>
                </li>
              </ul>
              <hr>
<div class="card-body">
             
      
    <hr>
    <section class="section dashboard">
        <div class="row">
    
          <!-- Left side columns -->
          <div class="col-lg">
            <div class="row">
    
              <!-- Sales Card -->
              <div class="col-xxl-3 col-md-6"  *ngFor="let card of listAbsence">
                <div class="card info-card sales-card">
    
                  <div class="filter">
                    <a href="" data-bs-toggle="modal" (click)="editTypeAbsence(card)" data-bs-target="#scrollingModal"><i class="bi bi-pen"></i></a>&nbsp;
                    <a   data-bs-toggle="modal" data-bs-target="#scrollingModal1" class="icon" href="#" (click)="this.idTypeAbsence=card.idTypeAbsence;" ><i class="bi bi-trash" ></i></a>



                    <div class="modal fade" id="scrollingModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color:black ;">Supprimer type d'absence </h5>
                            <button type="button" class="btn-close" (click)="this.afficherMsgContrainte=false" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div *ngIf="!this.afficherMsgContrainte" class="modal-body" style="color:black ;">
                            Veuillez vous vraiment supprimer ce type d'absence !!
                          </div>
      
                          <div *ngIf="this.afficherMsgContrainte" class="modal-body" style="color:red ;">
                            {{msg}}
                          </div>
                          <div class="modal-footer">
                            <button type="button"  *ngIf="!this.afficherMsgContrainte" class="btn btn-info" data-bs-dismiss="modal" >non</button>
                            <button type="button"  *ngIf="!this.afficherMsgContrainte" class="btn btn-danger" (click)="DeleteAbsence(this.idTypeAbsence)">oui</button>
                          </div>
                        </div>
                      </div>
                    </div>





              
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="ps-1">
                        <h6   [style.color]="card.couleur"   > {{card.designation}}</h6>
                        <span class="text-success small pt-1 fw-bold"></span>  {{card.typeContabilisation}} <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <!-- <div class=" d-flex align-items-center justify-content-center" style="font-size: x-large; padding-left: 50%;">
                        <i class="bi bi-pause-circle"></i>
                      </div> -->
                    </div>
                  </div>
                  <!--
                    class
                    bg-brown
                  -->
                  <div class="card-footer " [style.background]="card.couleur">
                    <small class="text-muted" style="color: white !important;"> {{card.traiteAbsence}}</small>
                  </div>
                </div>





















              </div><!-- End Sales Card -->
    
































              <div class="modal fade" id="scrollingModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Modifier type d'absence</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                  
                <div class="card">
                  <div class="card-body">
                    
      
                    <!-- General Form Elements -->
                    <form>
                      <div class="row mt-3 mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label" >Designation:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id ="designation">
                        </div>
                      </div>
                      <div class="row mt-3 mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Color:</label>
                        <div class="col-md-4 col-lg-5">
                            <input class="form-select"  type="color" aria-label="Example select with button addon" id ="color">
                          
                        </div>
                      </div>
                      
                    
                      
      
                    
                      <div class="row mt-3 mb-3">
                      <div class="form-check">Traitement de l'absence 
                          <hr>
                        <input class="form-check-input" type="radio" name="Traitement" id="flexRadioDefault11" value="Non_Comptabilisé">
                        <label class="form-check-label" for="flexRadioDefault" >
                         nom comptabilise
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Traitement" id="flexRadioDefault12" value="Comptabilisé" >
                        <label class="form-check-label" for="flexRadioDefault" >
                            comptabilise(ou renumere)
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Traitement" id="flexRadioDefault13" value="Pris_en_tant_que_RTT"  >
                        <label class="form-check-label" for="flexRadioDefault" >
                         Prix en tant que RTT
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="Traitement" id="flexRadioDefault14" value="Pris_en_tant_que_congé_paye"  >
                        <label class="form-check-label" for="flexRadioDefault" >
                         Prix en tant que conge paye
                        </label>
                      </div>
                      </div>
                   
                      <div class="row mt-3 mb-3">

                      <div class="form-check">Annulation/Traitement RTT 
                        <hr>
                      <input class="form-check-input" type="radio" name="Annulation" id="flexRadioDefault1"  value="Personnalisable_par_operateur" >
                      <label class="form-check-label" for="flexRadioDefault2">
                       Personnalisable par l'operateur
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Annulation" id="flexRadioDefault2"  value="Journe_complet"  >
                      <label class="form-check-label" for="flexRadioDefault">
                         journee complete
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="Annulation" id="flexRadioDefault3"  value="Demi_jour" >
                      <label class="form-check-label" for="flexRadioDefault">
                       Demi-journee
                      </label>
                    </div>
                    <div class="text-center" style="margin-left: 30%; margin-top: 10%;">
                      <button type="button" class="btn btn-primary" (click)="updateAbsense()">Enregistrer</button>
                      
                    </div>
  



              
















                    
                     </div>
                    </form>   
                    </div>
                    </div>    
       
   
         