<section class="section">
    <div class="row">
      <div class="col-lg-12">
<div class="card">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Configuration</a></li>
              <li class="breadcrumb-item active" aria-current="page">Type d'absences </li>
            </ol>
          </nav>
             
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" routerLink="/admin/typeabsence">Type d'absences</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-absence" routerLink="/admin/addabsense">Ajouter un Type d'Absence</button>
                </li>
              </ul>
              <hr>
<div class="card-body">
             
      
    <hr>
    <section class="section dashboard">
        <div class="row">
    
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
    
              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 10H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
              </div><!-- End Sales Card -->
    
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="addprofil" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 18H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
              </div><!-- End Revenue Card -->
    
              <!-- Customers Card -->
              <div class="col-xxl-4 col-xl-12">
    
                <div class="card info-card customers-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 24H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>

    
                </div>
              </div><!-- End Customers Card -->
              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 12H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
              </div><!-- End Sales Card -->
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="addprofil" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 8H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
              </div><!-- End Revenue Card -->
               <!-- Customers Card -->
               <div class="col-xxl-4 col-xl-12">
    
                <div class="card info-card customers-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 20H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
                  
    
                </div>
              </div><!-- End Customers Card -->
               <!-- Sales Card -->
               <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 6H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
              </div><!-- End Sales Card -->
    
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="addprofil" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 14H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
    
                </div>
              </div><!-- End Revenue Card -->
    
              <!-- Customers Card -->
              <div class="col-xxl-4 col-xl-12">
    
                <div class="card info-card customers-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar-plus"></i>
                      </div>
                      <div class="ps-4">
                        <h6> 16H</h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                    </div>
                  </div>
                
    
                </div>
              </div><!-- End Customers Card -->