<section class="section">
    <div class="row">
      <div class="col-lg-12">
<div class="card">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Configuration</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profils Salaries </li>
            </ol>
          </nav>
             
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" routerLink="/admin/addprofilsalaries">Profil Salaries</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" routerLink="/admin/addprofilsalaries">Ajouter Profil Salaries</button>
                </li>
              </ul>
              <hr>
<div class="card-body">
             
      
    <hr>
    <section class="section dashboard">
        <div class="row">
    
          <!-- Left side columns -->
          <div class="col-lg">
            <div class="row">
    
              <!-- Sales Card -->
              <div class="col-xxl-3 col-md-6">
                <div class="card info-card sales-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Thursday, Mai 13, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                  <p><small class="text-muted" style="color: white !important;">Soir 16:00:00</small></p>
                  <p><small class="text-muted" style="color: white !important;">Matin 09:00:00</small></p>
                  </div>
                </div>
              </div><!-- End Sales Card -->
    
              <!-- Revenue Card -->
              <div class="col-xxl-3 col-md-6">
                <div class="card info-card revenue-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="addprofil" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Monday, Mai 16, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                    <p><small class="text-muted" style="color: white !important;">Soir 13:00:00</small></p>
                    <p><small class="text-muted" style="color: white !important;">Matin 11:00:00</small></p>
                    </div>
                </div>
              </div><!-- End Revenue Card -->
    
              <!-- Customers Card -->
              <div class="col-xxl-3 col-xl-12">
    
                <div class="card info-card customers-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Friday, Mai 22, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                    <p><small class="text-muted" style="color: white !important;">Soir 15:00:00</small></p>
                    <p><small class="text-muted" style="color: white !important;">Matin 08:00:00</small></p>
                    </div>
                </div>
              </div><!-- End Customers Card -->
              <!-- Sales Card -->
              <div class="col-xxl-3 col-md-6">
                <div class="card info-card sales-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Tuesday, Juin 02, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
    
                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                    <p><small class="text-muted" style="color: white !important;">Soir 17:00:00</small></p>
                    <p><small class="text-muted" style="color: white !important;">Matin 10:00:00</small></p>
                    </div>

                </div>
              </div><!-- End Sales Card -->
              <!-- Revenue Card -->
              <div class="col-xxl-3 col-md-6">
                <div class="card info-card revenue-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="addprofil" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Friday, Juin 12, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
                 <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                  <p><small class="text-muted" style="color: white !important;">Soir 19:00:00</small></p>
                  <p><small class="text-muted" style="color: white !important;">Matin 12:00:00</small></p>
                  </div>
                </div>
              </div><!-- End Revenue Card -->
               <!-- Customers Card -->
               <div class="col-xxl-3 col-xl-12">
    
                <div class="card info-card customers-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Thursday, Mai 13, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
                  
                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                    <p><small class="text-muted" style="color: white !important;">Soir 17:00:00</small></p>
                    <p><small class="text-muted" style="color: white !important;">Matin 12:00:00</small></p>
                    </div>
                </div>
              </div><!-- End Customers Card -->
               <!-- Sales Card -->
               <div class="col-xxl-3 col-md-6">
                <div class="card info-card sales-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Wednesday, Mai 25, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                    <p><small class="text-muted" style="color: white !important;">Soir 17:00:00</small></p>
                    <p><small class="text-muted" style="color: white !important;">Matin 05:00:00</small></p>
                    </div>
                </div>
              </div><!-- End Sales Card -->
    
              <!-- Revenue Card -->
              <div class="col-xxl-3 col-md-6">
                <div class="card info-card revenue-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="addprofil" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Tuesday, Mai 31, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>
                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                    <p><small class="text-muted" style="color: white !important;">Soir 18:00:00</small></p>
                    <p><small class="text-muted" style="color: white !important;">Matin 11:00:00</small></p>
                    
                    </div>
                </div>
              </div><!-- End Revenue Card -->
    
              <!-- Customers Card -->
              <div class="col-xxl-3 col-xl-12">
    
                <div class="card info-card customers-card">
    
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-trash"></i></a><a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-pen"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
    
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
    
                  <div class="card-body">
                    <h2 class="card-title"> <span></span></h2>
    
                   
                      <div class="ps-4">
                        <h6 style="font-size: large;  padding-right: 30%;"> Thursday, Mai 13, 2022 </h6>
                        <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
    
                      </div>
                      <div class="d-flex align-items-center" style=" padding-left: 70%;">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-calendar-plus"></i>
                        </div>
                    </div>
                  </div>

                  <div class="card-footer bg-darkorange" style="background: darkorange; height: 90px;">
                    <p><small class="text-muted" style="color: white !important;">Soir 20:00:00</small></p>
                    <p><small class="text-muted" style="color: white !important;">Matin 10:00:00</small></p>
                    </div>
                </div>
              </div><!-- End Customers Card -->