

    <div class="modal fade" id="scrollingModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ajouter profil de controle d'accés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="min-height: 1500px;">
              <div class="row mb-3">
                  <label for="designation" class="col-md-4 col-lg-3 col-form-label">Designation</label>
                  <div class="col-md-4 col-lg-6 col-form-label">
                    <input name="designation" type="text" class="form-control" id="designation" value="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Badge Vertx</label>
                  <div class="col-md-4 col-lg-5 col-form-label">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                      
                      <option value="1">Zkteco1</option>
                      <option value="2">Zkteco2</option>
                      <option value="2">Zkteco6</option>
                      <option value="2">Zkteco7</option>
                     
                    </select>
                    
                  </div>
                  <div class="col-12">
                    
                  </div>
                  
                  
                </div>
                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Empreinte</label>
                  <div class="col-md-4 col-lg-5 col-form-label">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                      
                      <option value="1">Zkteco8</option>
                      <option value="2">Zkteco11</option>
                      <option value="2">Zkteco15</option>
                      <option value="2">Zkteco3</option>
                     
                    </select>
                    
                  </div>
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Pointeuse</th>
                          <th scope="col">Type</th>
                          <td></td>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Zkteco1</th>
                          <td>Badge Vertx</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
      
                        <tr class="table-primary">
                          <th scope="row">Zkteco2</th>
                          <td>Empreinte</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
                        <tr class="table-secondary">
                          <th scope="row">Zkteco11</th>
                          <td>Badge Vertx</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
                        <tr class="table-success">
                          <th scope="row">Zkteco15</th>
                          <td>Empreinte</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
                        
                      </tbody>
                    </table>
                    <!-- End Table Variants -->
                  <div class="col-12">
                    
                  </div>
                  
                  
                </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>
    </div><!-- End Scrolling Modal-->