
<!--
    <div class="modal fade" id="scrollingModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ajouter profil de controle d'accés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="min-height: 1500px;">
              <div class="row mb-3">
                  <label for="designation" class="col-md-4 col-lg-3 col-form-label">Designation</label>
                  <div class="col-md-4 col-lg-6 col-form-label">
                    <input name="designation" type="text" class="form-control" id="designation" value="">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Badge Vertx</label>
                  <div class="col-md-4 col-lg-5 col-form-label">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                      
                      <option value="1">Zkteco1</option>
                      <option value="2">Zkteco2</option>
                      <option value="2">Zkteco6</option>
                      <option value="2">Zkteco7</option>
                     
                    </select>
                    
                  </div>
                  <div class="col-12">
                    
                  </div>
                  
                  
                </div>
                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Empreinte</label>
                  <div class="col-md-4 col-lg-5 col-form-label">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                      
                      <option value="1">Zkteco8</option>
                      <option value="2">Zkteco11</option>
                      <option value="2">Zkteco15</option>
                      <option value="2">Zkteco3</option>
                     
                    </select>
                    
                  </div>
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Pointeuse</th>
                          <th scope="col">Type</th>
                          <td></td>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Zkteco1</th>
                          <td>Badge Vertx</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
      
                        <tr class="table-primary">
                          <th scope="row">Zkteco2</th>
                          <td>Empreinte</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
                        <tr class="table-secondary">
                          <th scope="row">Zkteco11</th>
                          <td>Badge Vertx</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
                        <tr class="table-success">
                          <th scope="row">Zkteco15</th>
                          <td>Empreinte</td>
                          <td><i class="bi bi-trash"></i></td>
                        </tr>
                        
                      </tbody>
                    </table>
                  
                  
                   
                  <div class="col-12">
                    
                  </div>
                  
                  
                </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>
    </div>-->
    <!-- End Scrolling Modal-->

    <div class="modal fade" id="fullscreenModal" tabindex="-1">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ajouter fonctionalités</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table datatable">
              <thead>
               
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Lecture</th>
                  <th scope="col">Ajouter</th>
                  <th scope="col">Modifier</th>
                  <th scope="col">Supprimer</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Gestion des usagers</th>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Lecture" id="defaultCheck1"></div>
                </td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Ajouter" id="defaultCheck2"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="modification" id="defaultCheck3"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="suppression" id="defaultCheck4"></div></td>
                 
                </tr>
                <tr>
                  <th scope="row">Consultation des logs Handeys</th>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Lecture" id="defaultCheck1"></div>
                </td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Ajouter" id="defaultCheck2"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="modification" id="defaultCheck3"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="suppression" id="defaultCheck4"></div></td>
                  
                </tr>
                <tr>
                  <th scope="row">Gestion des calendriers de pointage</th>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Lecture" id="defaultCheck1"></div>
                </td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Ajouter" id="defaultCheck2"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="modification" id="defaultCheck3"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="suppression" id="defaultCheck4"></div></td>
                 
                </tr>
                <tr>
                  <th scope="row">Gestion des sondages de sources</th>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Lecture" id="defaultCheck4"></div>
                </td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Ajouter" id="defaultCheck4"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="modification" id="defaultCheck4"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="suppression" id="defaultCheck4"></div></td>
                 
                </tr>
                <tr>
                  <th scope="row">Gestion des absences des salariés </th>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Lecture" id="defaultCheck5"></div>
                </td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Ajouter" id="defaultCheck5"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="modification" id="defaultCheck5"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="suppression" id="defaultCheck5"></div></td>
                 
                </tr>
                <tr>
                  <th scope="row">Gestion des assistants</th>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Lecture" id="defaultCheck6"></div>
                </td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="Ajouter" id="defaultCheck6"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="modification" id="defaultCheck6"></div></td>
                <td> <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="suppression" id="defaultCheck6"></div></td>
                 
                </tr>
                <tr>
                  <th scope="row">Consultation des logs logiciels</th>
                  <td> <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="Lecture" id="defaultCheck1"></div>
                  </td>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Ajouter" id="defaultCheck1"></div></td>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="modification" id="defaultCheck1"></div></td>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="suppression" id="defaultCheck1"></div></td>
                 
                </tr>
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary" (click)="AddFonctionnalitie()">Enregistrer</button>
          </div>
        </div>
      </div>
    </div><!-- End Full Screen Modal-->



    <div class="modal fade" id="ExtralargeModal" tabindex="-1" #content>
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modifier Profil</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <section class="section profile">
              <div class="row">
                <div class="col-xl-4">
                 
                  <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                      
          
                      <img src="assets/admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                      <h2>Zarai Mourad</h2>
                      <h3>Web Designer</h3>
                      
                    </div>
                  </div>
          
                </div>
          
                <div class="col-xl-8">
          
                  <div class="card">
                    <div class="card-body pt-3">
                      <!-- Bordered Tabs -->
                      
                      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item" routerLink="gestionusers">Accueil</li>
                          <li class="breadcrumb-item"><a href="gestionusers">Gestion Utilisateurs </a></li>
                          
                          <li class="breadcrumb-item active" aria-current="page">Ajouter profil session</li>
                        </ol>
                      </nav>
                      
                      <ul class="nav nav-tabs nav-tabs-bordered">
                        
                        <li class="nav-item">
                          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Appercu</button>
                        </li>
          
                        <li class="nav-item">
                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Modifier Profil</button>
                        </li>
          
                        <li class="nav-item">
                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Social</button>
                        </li>
          
                        <li class="nav-item">
                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Changer mot de passe</button>
                        </li>
          
                      </ul>
                      <div class="tab-content pt-2">
          
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                          <h5 class="card-title">A propos</h5>
                          <div class="card">
                              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    
                                <img src="assets/admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                                <h2>Zarai Mourad</h2>
                                <h3>Web Designer</h3>
                                
                              </div>
                            </div>
                          <p class="small fst-italic"></p>
          
                          <h5 class="card-title">Details de profil</h5>
          
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Nom</div>
                            <div class="col-lg-9 col-md-8">Zarai</div>
                          </div>
          
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label">Prenom</div>
                            <div class="col-lg-9 col-md-8">Mourad</div>
                          </div>
          
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label">Username</div>
                            <div class="col-lg-9 col-md-8">zarai.mourad</div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label">Email</div>
                            <div class="col-lg-9 col-md-8">zarai.mourad@example.com</div>
                          </div>
          
                        </div>
          
                      
          
                        <div class="tab-pane fade pt-3" id="profile-settings">
          
                          <!-- Settings Form -->
                          <form>
          
                            <div class="row mb-3">
                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                              <div class="col-md-8 col-lg-9">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                  <label class="form-check-label" for="changesMade">
                                    Changes made to your account
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                  <label class="form-check-label" for="newProducts">
                                    Information on new products and services
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="proOffers">
                                  <label class="form-check-label" for="proOffers">
                                    Marketing and promo offers
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                  <label class="form-check-label" for="securityNotify">
                                    Security alerts
                                  </label>
                                </div>
                              </div>
                            </div>
          
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                          </form><!-- End settings Form -->
          
                        </div>
          
                        <div class="tab-pane fade pt-3" id="profile-change-password">
                          <!-- Change Password Form -->
                          <form>
          
                            <div class="row mb-3">
                              <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mot de passe actuelle</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="password" type="password" class="form-control" id="currentPassword">
                              </div>
                            </div>
          
                            <div class="row mb-3">
                              <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nouveau mot de passe</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="newpassword" type="password" class="form-control" id="newPassword">
                              </div>
                            </div>
          
                            <div class="row mb-3">
                              <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Retaper nouveau mot de passe</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                              </div>
                            </div>
          
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                          </form><!-- End Change Password Form -->
          
                        </div>
          
                      </div><!-- End Bordered Tabs -->
          
                    </div>
                  </div>
          
                </div>
              </div>
            </section>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
    </div><!-- End Extra Large Modal-->

    </div>