<div class="col-lg-12"></div>
<div class="card">
    <div class="card">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active" aria-current="page">Usager </li>
            </ol>
          </nav>
             
              <hr>
                    <div class="card">
                      <div class="card-body">
                        
          
                        <!-- General Form Elements -->
                        <form>

                          
          
                          <div class="row mt-3 mb-3">Etat Civil
                              <hr> 
                            <label for="inputText" class="col-sm-2 col-form-label" style="text-align: center;">Nom</label>
                            <div class="col-sm-4">
                              <div class=" col-form-label" style="margin-right: 20px;">

                                <select  class="form-select"  style="font-weight: bold;"
                                   [(ngModel)]=" selectedUsager"
                                  (change)="changeUser($event.target)" 
                                  name="sel2">
                                  <option style="font-weight: bold;" [ngValue]="usager" *ngFor="let usager of listeUsager">{{usager.nom}}</option>
                              </select>

                                
                                <!--<select  id="selectedUSER" class="form-select"  (change)="changeUser($event.target)" aria-label="Example select with button addon">
                                  
                                  <option   *ngFor="let user of listeUsager" value="{{user.idUsager}}">{{user.nom}}</option>
                                </select>-->
                                
                              </div>
                            </div>
                            <label for="inputText" class="col-sm-2 col-form-label" style="text-align: center;">Prenom</label>
                            <div class="col-sm-4">
                              <input type="text"  style="font-weight: bold;" value="{{selectedUsager.prenom}}" class="form-control" id="prenom">
                            </div>
                           
                            <label for="Email" class="col-sm-2 col-form-label" style="margin-top: 20px; text-align: center;">Email</label>
                            <div class="col-sm-4" style="margin-top: 20px;">
                              <input type="email"  style="font-weight: bold;"  value="{{selectedUsager.email}}"  class="form-control" id="email">
                            </div>

                            <label for="Email" class="col-sm-2 col-form-label" style="margin-top: 20px; text-align: center;">Profession</label>
                            <div class="col-sm-4" style="margin-top: 20px;">
                              <input type="text" style="font-weight: bold;" value="{{selectedUsager.proffession}}" class="form-control" id="profesion">
                            </div>

                            <label for="Email" class="col-sm-2 col-form-label" style="margin-top: 20px; text-align: center;">Profil Salarié</label>
                            <div class="col-sm-4" style="margin-top: 20px;">
                              <input type="text" class="form-control" id="profil_sa">
                            </div>

                            <label for="Email" class="col-sm-2 col-form-label" style="margin-top: 20px; text-align: center;">Profil Controle d'acces</label>
                            <div class="col-sm-4" style="margin-top: 20px;">
                              <input type="email" class="form-control" id="profil_ac">
                            </div>
                        
                          </div>
          
                          <div class="row mt-3 mb-3 col-sm-2 pt-2" >
                            <button type="submit" class="btn btn-primary" (click)="afficherficheSalarie()" style="float: left;">Afficher</button>
                          </div>
                          
                          <div style="margin-top: 50px;" class="col-sm-12 ">

                          <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="fiche-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Fiche Salarié</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="gab-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Gabarites</button>
                            </li>
                          </ul>
                        </div>
                        <div class="tab-content pt-2" id="myTabContent">

                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="fiche-tab">
                              <div class="container"  id="htmlDataCalender" >
                              
                                <full-calendar class="testClass "  [options]="calendarOptions"></full-calendar>
                              
                              </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="gab-tab">

                                <div class="row grid-columns pt-2">
                                    <div class="col-md-6 col" >
                                        <div>
    
                                            <h6>Badge Vertx</h6>
                                        </div>
                                        </div>

                                        <div class="col-md-6 col" style="text-align: right;">
                                            <div>
        
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </div>
                                            </div>
                                </div>
                                <hr>
                                <div class="row grid-columns pt-2">
                                    <div class="col-md-3 col">
                                    <div>

                                        <img src="assets/admin/img/pointeuse.jpg" class="rounded float-end" alt="...">
                                    </div>
                                    </div>
                                    <div class="col-md-3 col">
                                    <div>

                                    <div class=" col-form-label" style="margin-right: 20px;">
                                        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                          
                                          <option *ngFor="let item of listePointeuse" value="{{item.idPointeuse}}">{{item.designation}}</option>
                                        </select>
                                        
                                      </div>
                                    </div>
                                    </div>
                                    <div class="col-md-2 col">
                                    <div>
                                    <button type="submit" class="btn btn-primary" style="background-color: white; color: black; border-color: black;">Associer</button>
                                    </div>
                                    </div>
                                    <div class="col-md-2 col">
                                        <div>

                                            <button type="submit" class="btn btn-primary" style="background-color: white; color: black; border-color: black;">Dissocier</button>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col ">
                                    <div>

                                        <button type="submit" class="btn btn-primary" style="background-color: white; color: black; border-color: black;">Ajouter un Badge</button>
                              
                                    </div>
                                    </div>
                                    </div>
                                    
                                    <hr> 
                                    <div class="row grid-columns pt-2">
                                        <div class="col-md-6 col">
                                            <div>
        
                                                <h6>Empreinte</h6>
                                            </div>
                                            </div>

                                            <div class="col-md-6 col" style="text-align: right;">
                                                <div>
            
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </div>
                                                </div>
                                    </div>
                                    <hr>
                                    <div class="row grid-columns pt-2">
                                        <div class="col-md-3 col">
                                        <div>
    
                                            <img src="assets/admin/img/pointeuse.jpg" class="rounded float-end" alt="...">
                                        </div>
                                        </div>
                                        <div class="col-md-3 col">
                                        <div>
    
                                        <div class=" col-form-label" style="margin-right: 20px;">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Automatique</label>
                                              </div>
                                            <div class="form-check pt-2" style="padding-top: 20px;">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Manuel</label>
                                              </div>
                                            <select class="form-select pt-3" id="inputGroupSelect04" aria-label="Example select with button addon">
                                              
                                              <option *ngFor="let item of listePointeuse" value="{{item.idPointeuse}}">{{item.designation}}</option>
                                            </select>
                                            
                                          </div>
                                        </div>
                                        </div>
                                        <div class="col-md-3 col">
                                        <div>
                                            <i style="font-size: xx-large; margin-left: 25%;" class="bi bi-hdd"></i>
                                            <p>Acqérir le gabarit biométrique</p>
                                        </div>
                                        </div>
                                       
                                    
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                         
                            </div>
                        </div>
                  