<section class="section">
    <div class="row">
      <div class="col-lg-12">
        
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gestion Users</li>
          </ol>
        </nav>
        <div class="card">
          <div class="card-body">
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" routerLink="/admin/gestionusers">Profil Session</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" routerLink="/admin/addsession">Ajouter Profil Session</button>
                </li>
              </ul>
              <div class="btn-group mr-2" role="group" aria-label="First group" style="float: right;">
                
               <h3> <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a></h3>&nbsp;
               <h3> <a href="#" class="#profile-edit"><i class="bi bi-exclamation-triangle-fill"></i></a></h3>&nbsp;
               <h3> <a href="#" class="#profile-activate"><i class="bi bi-file-check-fill"></i></a></h3>
              </div>
                
               
              
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Username</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Date de naissance</th>
                  <th scope="col">Email</th>
                
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <th scope="row">
                    <a routerLink="admin/addfonctionalite" class="#addfonctionalite" data-bs-toggle="modal" data-bs-target="#fullscreenModal"> <i class="bi bi-plus-lg"></i></a>&nbsp;
                    
      
                    <div class="modal fade" id="fullscreenModal" tabindex="-1">
                      <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Ajouter fonctionalités</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <table class="table datatable">
                              <thead>
                               
                                <tr>
                                  <th scope="col"></th>
                                  <th scope="col">Lecture</th>
                                  <th scope="col">Ajouter</th>
                                  <th scope="col">Modifier</th>
                                  <th scope="col">Supprimer</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">Gestion des usagers</th>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                                </td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                 
                                </tr>
                                <tr>
                                  <th scope="row">Consultation des logs Handeys</th>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                                </td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                  
                                </tr>
                                <tr>
                                  <th scope="row">Gestion des calendriers de pointage</th>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                                </td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                 
                                </tr>
                                <tr>
                                  <th scope="row">Gestion des sondages de sources</th>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                                </td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                 
                                </tr>
                                <tr>
                                  <th scope="row">Gestion des absences des salariés </th>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                                </td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                 
                                </tr>
                                <tr>
                                  <th scope="row">Gestion des assistants</th>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                                </td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                <td> <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                 
                                </tr>
                                <tr>
                                  <th scope="row">Consultation des logs logiciels</th>
                                  <td> <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                                  </td>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                  <td> <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div></td>
                                 
                                </tr>
                                </tbody>
                            </table>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary">Enregistrer</button>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Full Screen Modal-->
      
  
                    <a routerLink="admin/addsession" class="#addsession" data-bs-toggle="modal" data-bs-target="#ExtralargeModal"><i class="bi bi-pen"></i></a>&nbsp;

                    <div class="modal fade" id="ExtralargeModal" tabindex="-1">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Modifier Profil</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <section class="section profile">
                              <div class="row">
                                <div class="col-xl-4">
                                 
                                  <div class="card">
                                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                      
                          
                                      <img src="assets/admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                                      <h2>Zarai Mourad</h2>
                                      <h3>Web Designer</h3>
                                      
                                    </div>
                                  </div>
                          
                                </div>
                          
                                <div class="col-xl-8">
                          
                                  <div class="card">
                                    <div class="card-body pt-3">
                                      <!-- Bordered Tabs -->
                                      
                                      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                          <li class="breadcrumb-item" routerLink="gestionusers">Home</li>
                                          <li class="breadcrumb-item"><a href="gestionusers">Gestion Users </a></li>
                                          
                                          <li class="breadcrumb-item active" aria-current="page">Ajouter profil session</li>
                                        </ol>
                                      </nav>
                                      
                                      <ul class="nav nav-tabs nav-tabs-bordered">
                                        
                                        <li class="nav-item">
                                          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Appercu</button>
                                        </li>
                          
                                        <li class="nav-item">
                                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Modifier Profil</button>
                                        </li>
                          
                                        <li class="nav-item">
                                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Social</button>
                                        </li>
                          
                                        <li class="nav-item">
                                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Changer mot de passe</button>
                                        </li>
                          
                                      </ul>
                                      <div class="tab-content pt-2">
                          
                                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                          <h5 class="card-title">A propos</h5>
                                          <div class="card">
                                              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                    
                                                <img src="assets/admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                                                <h2>Zarai Mourad</h2>
                                                <h3>Web Designer</h3>
                                                
                                              </div>
                                            </div>
                                          <p class="small fst-italic"></p>
                          
                                          <h5 class="card-title">Details de profil</h5>
                          
                                          <div class="row">
                                            <div class="col-lg-3 col-md-4 label ">Nom</div>
                                            <div class="col-lg-9 col-md-8">Zarai</div>
                                          </div>
                          
                                          <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Prenom</div>
                                            <div class="col-lg-9 col-md-8">Mourad</div>
                                          </div>
                          
                                          <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Username</div>
                                            <div class="col-lg-9 col-md-8">zarai.mourad</div>
                                          </div>
                                          <div class="row">
                                            <div class="col-lg-3 col-md-4 label">Email</div>
                                            <div class="col-lg-9 col-md-8">zarai.mourad@example.com</div>
                                          </div>
                          
                                        </div>
                          
                                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                          
                                          <!-- Profile Edit Form -->
                                          <form>
                                            <div class="row mb-3">
                                              <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Image de profil</label>
                                              <div class="col-md-8 col-lg-9">
                                                <img src="assets/admin/img/profile-img.jpg" alt="Profile">
                                                <div class="pt-2">
                                                  <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                  <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                                </div>
                                              </div>
                                            </div>
                          
                                            <div class="row mb-3">
                                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                                              <div class="col-md-8 col-lg-9">
                                                <input name="email" type="email" class="form-control" id="nom" value="Hassini">
                                              </div>
                                            </div>
                                            <div class="row mb-3">
                                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Prenom</label>
                                              <div class="col-md-8 col-lg-9">
                                                <input name="fullName" type="text" class="form-control" id="prenom" value="Taher">
                                              </div>
                                            </div>
                                            <div class="row mb-3">
                                              <label for="company" class="col-md-4 col-lg-3 col-form-label">Username</label>
                                              <div class="col-md-8 col-lg-9">
                                                <input name="company" type="text" class="form-control" id="username" value="hassini.taher">
                                              </div>
                                            </div>
                          
                                            <div class="row mb-3">
                                              <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                              <div class="col-md-8 col-lg-9">
                                                <input name="email" type="email" class="form-control" id="Email" value="taher.hassini@example.com">
                                              </div>
                                             
                                            </div>
                                      
                                            <div class="row mb-3"></div>
                                            <div class="nativeDatePicker">
                                              <label for="bday" class="col-md-4 col-lg-3 col-form-label">Date de naissance </label>
                                              <input type="date" id="bday" name="bday" >
                                              <span class="validity"></span>
                                            </div>
                          
                                            <div class="row mb-3">
                                              <label for="Email" class="col-md-4 col-lg-3 col-form-label">Sexe</label>
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" class="col-md-4 col-lg-3 col-form-label">
                                              <label class="form-check-label" for="flexRadioDefault1">
                                                Homme
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" class="col-md-4 col-lg-3 col-form-label" checked>
                                              <label class="form-check-label" for="flexRadioDefault2">
                                                  
                                                Femme
                                              </label>
                                            </div>
                                            </div>
                                            <div class="text-center">
                                              <button type="submit" class="btn btn-primary">Enregistrer</button>
                                            </div>
                                          </form><!-- End Profile Edit Form -->
                          
                                        </div>
                          
                                        <div class="tab-pane fade pt-3" id="profile-settings">
                          
                                          <!-- Settings Form -->
                                          <form>
                          
                                            <div class="row mb-3">
                                              <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                                              <div class="col-md-8 col-lg-9">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="changesMade" checked>
                                                  <label class="form-check-label" for="changesMade">
                                                    Changes made to your account
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="newProducts" checked>
                                                  <label class="form-check-label" for="newProducts">
                                                    Information on new products and services
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="proOffers">
                                                  <label class="form-check-label" for="proOffers">
                                                    Marketing and promo offers
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                                                  <label class="form-check-label" for="securityNotify">
                                                    Security alerts
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                          
                                            <div class="text-center">
                                              <button type="submit" class="btn btn-primary">Save Changes</button>
                                            </div>
                                          </form><!-- End settings Form -->
                          
                                        </div>
                          
                                        <div class="tab-pane fade pt-3" id="profile-change-password">
                                          <!-- Change Password Form -->
                                          <form>
                          
                                            <div class="row mb-3">
                                              <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mot de passe actuelle</label>
                                              <div class="col-md-8 col-lg-9">
                                                <input name="password" type="password" class="form-control" id="currentPassword">
                                              </div>
                                            </div>
                          
                                            <div class="row mb-3">
                                              <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nouveau mot de passe</label>
                                              <div class="col-md-8 col-lg-9">
                                                <input name="newpassword" type="password" class="form-control" id="newPassword">
                                              </div>
                                            </div>
                          
                                            <div class="row mb-3">
                                              <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Retaper nouveau mot de passe</label>
                                              <div class="col-md-8 col-lg-9">
                                                <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                              </div>
                                            </div>
                          
                                            <div class="text-center">
                                              <button type="submit" class="btn btn-primary">Enregistrer</button>
                                            </div>
                                          </form><!-- End Change Password Form -->
                          
                                        </div>
                          
                                      </div><!-- End Bordered Tabs -->
                          
                                    </div>
                                  </div>
                          
                                </div>
                              </div>
                            </section>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-primary">Enregistrer</button>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Extra Large Modal-->
      
                    </div>

                    <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a>&nbsp;
                    <a href="#" class="#profile-desactivate"><i class="bi bi-exclamation-triangle-fill"></i></a>&nbsp;
                    <a href="#" class="#profile-activate"><i class="bi bi-file-check-fill"></i></a>
                    
                  </th>
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                </td>
                  <td>zarai.mourad </td>
                  <td>Zarai</td>
                  <td>Mourad</td>
                  <td>2016-05-25</td>
                  <td>zarai.mourad@example.com</td>
                  
                  
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <th scope="row">
                  <a href="addfonctionalite" class="#addfonctionalite"><i class="bi bi-plus-lg"></i></a>&nbsp;
                  <a href="addsession" class="#addsession"><i class="bi bi-pen"></i></a>&nbsp;
                  <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a>&nbsp;
                  <a href="#" class="#profile-desactivate"><i class="bi bi-exclamation-triangle-fill"></i></a>&nbsp;
                  <a href="#" class="#profile-activate"><i class="bi bi-file-check-fill"></i></a>
                  
                  <td> <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                </td>
                  <td>taher.hassini</td>
                  <td>Taher</td>
                  <td>hassini</td>
                  <td>2016-05-25</td>
                  <td>taher.hassini@example.com</td>
                  
                </tr>
                
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

       
      
  
              <!-- End Table with stripped rows -->
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
      </div>
    </div>
    </section>

