<section class="section">
    <div class="row">
      <div class="col-lg-12">
<div class="card">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Configuration</a></li>
              <li class="breadcrumb-item active" aria-current="page">Pointeuses</li>
            </ol>
          </nav>
             
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" routerLink="/admin/handkeys">Pointeuse</button>
                </li>
  
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" routerLink="/admin/addprofil">Profil Controle d'accès</button>
                </li>
              </ul>
              <hr>
<div class="card-body">
              <!-- Scrolling Modal -->
               
            
               <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scrollingModal">
                Ajouter Pointeuse
              </button>
              <div class="modal fade" id="scrollingModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Ajouter Pointeuse</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="row mb-3">
                      <label for="designation" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Designation</label>
                      <div class="col-md-4 col-lg-5 col-form-label">
                        <input name="designation" type="text" class="form-control" id="designation" value="">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="port" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Port</label>
                      <div class="col-md-4 col-lg-5 col-form-label">
                        <input name="port" type="number" class="form-control" id="port" value="">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Adresse IP</label>
                      <div class="col-md-4 col-lg-5 col-form-label">
                        <input name="company" type="text" class="form-control" id="username" value="">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-5 col-form-label">&nbsp;&nbsp;Departement</label>
                      <div class="col-md-4 col-lg-5 col-form-label">
                        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                          
                          <option value="1">Secteur 1</option>
                          <option value="2">Secteur 2</option>
                          <option value="2">Secteur 3</option>
                          <option value="2">Secteur 4</option>
                         
                        </select>
                        
                      </div>
                      <div class="col-12">
                        
                      </div>
                      
                      
                    </div>
                
                    <div class="row mb-3">
                      <label for="Email" class="col-md-5 col-lg-5 col-form-label">&nbsp;&nbsp; Type</label>
                      <div class="col-md-5 col-lg-5 col-form-label">
                        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                          
                          <option value="1">Badge Vertx</option>
                          <option value="2">Empreinte</option>
                         
                        </select>
                      </div>
                      <div class="text-center" style="margin: 3%;">
                        <button type="button" class="btn btn-success">Connecter</button>
                        
                      </div>
                    
                      <div class="text-center" style="margin: 4%;">
                        
                      </div>
                      
                     
                      
                    
                    
                 
                      
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      <button type="button" class="btn btn-primary">Enregistrer</button>
                    </div>
                  </div>
                </div>
              </div>
              </div><!-- End Scrolling Modal-->




      
              <hr>
              <hr>
              <section class="section dashboard">
                  <div class="row">
              <h1><div  class="text-center"><strong><u>Badge Vertx </u></strong>
                
              </div></h1>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Pointeuse</th>
                    <th scope="col"> Adresse IP</th>
                    <th scope="col">Port</th>
                    <th scope="col">Departement</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                     <th scope="row"><a href="addsession" class="#profile-edit"><i class="bi bi-pen"></i></a>&nbsp;
                      <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a>&nbsp;</th>
                    
                      <td> <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                    </td>
                    <td>ZKTeco1</td>
                    <td>192.168.111.111</td>
                    <td>3128</td>
                    <td>Secteur 1</td>
                    
                  </tr>
                  <tr>
                  <th scope="row">2</th>
                  <th scope="row"><a href="addsession" class="#profile-edit"><i class="bi bi-pen"></i></a>&nbsp;
                    <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a>&nbsp;</th>
                  
                    <td> <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                  </td>
                    <td>ZKTeco2</td>
                    <td>192.168.111.112</td>
                    <td>3128</td>
                    <td>Secteur 3</td>
                    </tr>
                </tbody>
              </table>
              <h1><div  class="text-center"><strong><u>Empreinte </u></strong>
                
              </div></h1>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Pointeuse</th>
                    <th scope="col"> Adresse IP</th>
                    <th scope="col">Port</th>
                    <th scope="col">Departement</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <th scope="row"><a href="addsession" class="#profile-edit"><i class="bi bi-pen"></i></a>&nbsp;
                      <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a>&nbsp;</th>
                      <td> <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                    </td>
                    <td>ZKTeco1</td>
                    <td>192.168.111.111</td>
                    <td>3128</td>
                    <td>Secteur 1</td>
                    
                  </tr>
                  <tr>
                  <th scope="row">2</th>
                  <th scope="row"><a href="addsession" class="#profile-edit"><i class="bi bi-pen"></i></a>&nbsp;
                    <a href="#" class="#profile-delete"><i class="bi bi-trash"></i></a>&nbsp;</th>
                  
                    <td> <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></div>
                  </td>
                    <td>ZKTeco2</td>
                    <td>192.168.111.112</td>
                    <td>3128</td>
                    <td>Secteur 3</td>
                    </tr>
                </tbody>
              </table>
                



          